.tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 12px;
}

.juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}